<footer id="footer">
  <div class="layout">
    <h3>Photo Credits</h3>
    <ul>
      <li>The face of a sandhill crane at Pelican Island National Wildlife Refuge. <a href="">Photo</a> by Keenan Adams, USFWS.</li>
      <li>Urban landcover maps as published by Terando, Adam J., Jennifer Costanza, Curtis Belyea, Robert R. Dunn, Alexa McKerrow, and Jaime A. Collazo. "<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0102261">The Southern Megalopolis: Using the Past to Predict the Future of Urban Sprawl in the Southeast U.S.</a>" PLOS One. N.p., 23 July 2014. Web. 21 Mar. 2016.</li>
      <li><a href="http://www.fhwa.dot.gov/planning/megaregions/megaregionsmap.cfm">Emerging megaregions map</a> by the Federal Highway Administration.</li>
      <li>A biologist measures a tiny, endangered bog turtle. <a href="https://flic.kr/p/uy8BJv">Photo</a> by Gary Peeples, USFWS.</li>
      <li>A mixed flock of waterfowl at Mattamuskeet National Wildlife Refuge in North Carolina. <a href="https://flic.kr/p/jME6st">Photo</a> by Allie Stewart, USFWS.</li>
      <li>A young girl and boy stand in North Carolina’s Toe River peering into a net, looking for signs of life. <a href="https://flic.kr/p/pdb9QZ">Photo</a> by Gary Peeples, USFWS.</li>
      <li>A USFWS ranger at Ding Darling National Wildlife Refuge shows a group of children the iNature app. <a href="https://flic.kr/p/pv12nc">Photo</a> by Brett Billings, USFWS.</li>
      <li>A biologist stands in a bog with her hand resting on a walking stick. <a href="https://flic.kr/p/rpRgQq">Photo</a> by Gary Peeples, USFWS.</li>
    </ul>

    <h3>Icons</h3>

    <p>All icons were downloaded from <a href="http://nounproject.com">The Noun Project</a>.  The following icons are available under a Creative Commons License.  All other icons are in the public domain.</p>

    <ul>
      <li>Document by Jamison Wieser</li>
      <li>Active and Inactive by Sylvain Amatoury</li>
      <li>Speech Bubble by Mike Ashley</li>
      <li>Erlenmeyer Flask by Tania Jiménez</li>
      <li>Leaf by Mark Caron</li>
      <li>Flag by Jamie Rothwell</li>
      <li>Briefcase by Nicholas Menghini</li>
      <li>Add User by Tracy Tam</li>
      <li>Users by DTE MEDIA</li>
      <li>Americas by Ted Grajeda</li>
      <li>Building by Creative Stall</li>
      <li>House by Nicholas Menghini</li>
      <li>Map by Stanislav Levin</li>
      <li>Line Chart by Lastspark</li>
      <li>Paw Print by YuguDesign</li>
      <li>Warning by Anton Gajdosik</li>
    </ul>
  </div>
</footer>
