.layout {
  @include container($max-width);
  padding: 0 40px;

  @media (min-width: 1000px) {
    padding: 0;
  }
}

.document-download {
  text-align: center;

  img {
    width: 35px;
  }
}

.side-bar {
  position: relative;
}
