@import "variables";
@import "mixins";
@import "typography";
@import "tipsy";
@import "susy";
@import "fonts";
@import "layout";
@import "dot-nav";
@import "parallax";
@import "swipe";
@import "icons";
@import "nav";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  max-height: 250px;
  position: relative;
  top: 25%;
}

img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

.caption {
  color: $turquoise;
  font-size: .8em;
  text-align: center;
}

.reveal {
  display: block;
  margin: auto;
}

.title {
  font-size: 3em;
  text-align: center;
}

.section-heading {
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 15px;
  text-align: center;
}

#skip-to-content {
  @include sr-only;
}

footer {
  font-size: .6em;
}
